div.clickable-options {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 3em 0;
}
div.clickable-options button {
  background: none;
  border: 1px solid black;
  color: inherit;
}

div.message {
  padding: 2em 0;
}
div.message p.success {
  color: var(--color-primary);
}
div.message p.failure {
  color: var(--color-secondary);
}

div.controls-section {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  left: 0;
  bottom: 2em;
  width: 100%;
  padding: var(--size-gutter);
}