div.clickable-options {
  display: flex;
  gap: 1em;
  margin: 3em 0;
  flex-wrap: wrap;;
}
div.clickable-options button {
  background: none;
  border: 1px solid black;
  color: inherit;
}

div.success-message {
  min-height: 5em;
}
div.success-message p {
  color: var(--color-primary);
}

div.controls-section {
  display: flex;
  flex-direction: row-reverse;
}