* {
  transition: .4s;;
}
main {
  max-width: 600px;;
  margin: 0 auto;
}
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
}
button {
  cursor: pointer;
  background-color: var(--color-primary);
  border: none;
  padding: .8em 1.5em;
  border-radius: 0.5cap;
  color: white;
  font-size: medium;
}
button:hover {
  opacity: .8;
}